<!doctype html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BuildPeak</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/src/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/icon/favicon-16x16.png">
    <link rel="manifest" href="/client/public/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/product-page.styles.css">
    <link rel="stylesheet" href="/css/header_footer.styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>
<%- include('C://Users//stasy//WebstormProjects//coursework//server//views//partials//header.ejs')%>
<!--Фото та кнопки до предмета-->
<div class="container pt-3">
    <div class="row">
        <div class="col-6">
            <div id="carouselImageItem" class="carousel slide carousel-dark">
                <div class="carousel-inner bg-secondary border">
                    <div class="carousel-item active itemImage">
                        <img src="<%=itemCarouselImages[0]%>" alt="Logo" class="d-block w-100">
                    </div>

                    <% for(let i = 1; i < itemCarouselImages.length; i++) {%>
                    <div class="carousel-item itemImage">
                            <img src="<%=itemCarouselImages[i]%>" alt="Logo" class="d-block w-100">
                    </div>
                    <%} %>


                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselImageItem" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselImageItem" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-auto">
            <div class="bg-body-secondary p-3 rounded">
                <span class="text-center fs-5 fw-bolder" id="itemName"><%=itemName%></span>
            </div>
            <div class="bg-body-secondary p-2 rounded mt-3 mb-3 text-center">
                <span class="fs-3 fw-bolder"><%= itemPrice%> грн</span>
            </div>
            <div class="">
                <button id="buyButton" class="mt-2 mb-3 bg-warning rounded fs-1 fw-bolder pt-1 pb-1
                        position-relative w-100" >
                    Buy
                </button>
            </div>
            <div id="followButton">
                <button type="button" class="btn bg-body-secondary" data-bs-toggle="button">
                    <span class="fs-4 fw-bolder">Follow</span>
                    <%if(itemSavedUser){ %>
                        <img class="" src="/src/img/heart-solid.svg" alt="Heart" width="50" height="50" class="ms-2" id="heart">
                    <%} else{ %>
                        <img class="" src="/src/img/heart-regular.svg" alt="Heart" width="50" height="50" class="ms-2" id="heart">
                    <%}%>

                </button>
            </div>
        </div>
    </div>
</div>
<!--Опис продукта -->
<div class="container bg-body-secondary p-3 rounded mt-4">
    <div class="bg-body-secondary">
        <!--        Характеристики-->
        <div class="mt-3">
            <h2 class="fw-bolder">Characteristics</h2>
            <table class="table table-secondary table-striped table-hover">
                <% for(let [key, value] of itemCharacteristics) {%>
                    <tr>
                        <td><%=key%></td>
                        <td><%=value%></td>
                    </tr>
                <%} %>
            </table>
        </div>
    </div>
</div>

<!--створити відгук-->
<div class="container mt-3 ps-3 pt-3 bg-body-secondary rounded">
    <h2 class="">Leave a review</h2>
    <form class="mt-3 pb-3" id="reviewForm" novalidate>
        <div class="container">
            <div class="star_rating">
                <label class="pe-2 fs-5 fw-bold">Rate</label>
                <button class="bi-star-fill fs-4 star"></button>
                <button class="bi-star-fill fs-4 star"></button>
                <button class="bi-star-fill fs-4 star"></button>
                <button class="bi-star-fill fs-4 star"></button>
                <button class="bi-star-fill fs-4 star"></button>
                <input type="number" id="rateStar" name="rate">
            </div>
            <div class="invalid-feedback-rate color-red fw-bold fs-5 d-none text-danger">
                Please rate a product
            </div>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" name="bigComment" id="bigComment" style="height: 100px" required></textarea>
            <label for="bigComment">Comments</label>
            <div class="invalid-feedback">
                Please enter your feedback
            </div>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="advantages" name="advantages" placeholder="Advantages">
            <label for="advantages">Advantages</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="minuses" name="minuses" placeholder="Minuses">
            <label for="minuses">Minuses</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" name="userName" placeholder="Name" value="<%username%>">
            <label for="name">Name</label>
        </div>
        <button type="submit" class="btn btn-primary mb-3 pt-2 pb-2 ps-4 pe-4 fs-4">Submit</button>
    </form>

    <!--    Всі відгуки-->
</div>

<div class="container mt-3 ps-3 pt-3 w-100" id="allReviews">
    <!--    Приклад відгуку-->

    <% for(let el of reviews) {%>
        <div class="container bg-body-secondary rounded mt-5">
            <div class="row">
                <div class="col-auto mt-3">
                    <span class="ms-2 fs-5"><%=el.userName%></span>
                </div>
                <div class="col-auto mt-2">
                    <ul class="star_rating ps-0 ">
                        <% for(let i = 0; i < 5; i++){ %>
                            <%if(i < Number(el.rate)) {%>
                            <i class="bi-star-fill fs-4 golden-star"></i>
                            <%} else {%>
                            <i class="bi-star-fill fs-4"></i>
                            <%}%>
                        <%} %>
                    </ul>
                </div>
                <div class="col-auto mt-3">
                    <span class="ms-2 fs-5"><%=el.date%></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-control">
                        <%=el.bigComment%>
                    </div>
                    <%if(el.advantages !== ''){ %>
                    <div class="mt-3 mb-3">
                        <span class="fs-4 fw-bold">Плюси</span>
                        <div class="form-control mt-1">
                            <%=el.advantages%>
                        </div>
                    </div>
                    <%} %>

                    <%if(el.minuses !== ''){ %>
                    <div class="mt-3 mb-3">
                        <span class="fs-4 fw-bold">Мінуси</span>
                        <div class="form-control mt-1">
                            <%=el.minuses%>
                        </div>
                    </div>
                    <%} %>
                </div>
            </div>
        </div>
    <%} %>
</div>

<!--Показується після нажаття кнопки-->
<div id="buyToast" class="toast position-fixed bottom-0 end-0 p-3 z-3 buy-alert" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
        <span id="itemNameToast">Item name</span> додано у кошик
        <div class="mt-2 pt-2 border-top">
            <a href="/orders"><button type="button" class="btn btn-primary btn-sm mb-3" id="submitOrder">Оформити замовлення</button></a>
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Продовжити покупки</button>
        </div>
    </div>
</div>
<!--Схожі предмети-->
<div class="container">
    <h2>Similar items</h2>
    <div class="row">
        <%for(let el of simItems){ %>
        <div class="col-auto my-2">
            <!--            Приклад одного предмета-->
            <div class="card item text-center" style="width: 15rem;">
                    <a href="/product/<%=el.title%>" class="itemTitle">
                        <img src="<%=el.image%>" alt="Logo" class="bd-placeholder-img m-2" width="200" height="200">
                        <div class="car-body">
                            <h5 class="card-title pt-3"><%=el.title%></h5>
                        </div>
                    </a>
                    <div class="card-body">
                        <span><%=el.price%> ГРН</span>
                    </div>
                </div>
        </div>
        <%} %>
    </div>
</div>
<script type="module" src="/js/header.js"></script>
<script type="module" src="/js/product-page.js"></script>
</body>
<%- include('C://Users//stasy//WebstormProjects//coursework//server//views//partials//footer.ejs')%>
</html>