<!doctype html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BuildPeak</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/src/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/icon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/user-page-orders.styles.css">
    <link rel="stylesheet" href="/css/user-page.styles.css">
    <link rel="stylesheet" href="/css/header_footer.styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>
<%- include('C://Users//stasy//WebstormProjects//coursework//server//views//partials//header.ejs')%>
<nav class="navbar navbar-expand bg-body-tertiary mt-3">
    <div class="container-fluid">
        <span class="fw-bold fs-3">My account</span>
        <ul class="navbar-nav">
            <li class="nav-item me-3 ms-3">
                <a class="nav-link fs-3" href="/users">My data</a>
            </li>
            <li class="nav-item me-3 ms-3">
                <a class="nav-link current-menu fs-3" href="/users/orders">My orders</a>
            </li>
            <li class="nav-item me-3 ms-3">
                <a class="nav-link fs-3" href="/users/saved">Saved products</a>
            </li>
        </ul>
    </div>
</nav>
<table class="table mt-3">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Number</th>
        <th scope="col">Status</th>
        <th scope="col">Items</th>
        <th scope="col">Price</th>
        <th scope="col">Info</th>
    </tr>
    </thead>
    <tbody>
    <%for(let el of userOrders){ %>
        <tr>
            <td><%=el.date%></td>
            <td><%=el.id%></td>
            <td><%=el.status%></td>
            <td><%=el.title%></td>
            <td><%=el.price%> ГРН</td>
            <td>
                <input data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions<%=el.id%>" aria-controls="offcanvasWithBothOptions<%=el.id%>" type="image" src="/src/img/circle-info-solid.svg" height="25" width="25">
            </td>
        </tr>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions<%=el.id%>" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <div class="p-3 rounded">
                <span class="text-center fs-4 fw-bolder"><%=el.title%></span>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <img src="<%=el.photoSrc%>" alt="Logo" class="d-block w-100">
                    </div>

                    <div class="bg-body-secondary p-3 rounded mt-1">
                        <span class="text-center fs-4 fw-bolder">Кількість - <span><%=el.amount%></span> шт</span>
                    </div>
                    <div class="bg-body-secondary p-3 rounded mt-1">
                        <span class="fs-4 fw-bolder"><%=el.price%> грн</span>
                    </div>
                    <div class="bg-body-secondary p-3 rounded mt-1">
                        <span class="fs-4 fw-bolder">Дата замовлення: </span>
                        <span class="fs-4 fw-bolder"><%=el.date%></span>
                    </div>
                    <div class="bg-body-secondary p-3 rounded mt-1">
                        <span class="fs-4 fw-bolder">Метод оплати: </span>
                        <span class="fs-4 fw-bolder"><%=el.paymentMethod%></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%} %>
    </tbody>
</table>

<script src="/js/user-page-orders.js"></script>
</body>
<%- include('C://Users//stasy//WebstormProjects//coursework//server//views//partials//footer.ejs')%>
</html>